body {
    text-align: center;
    /*width: 100%;*/
}

header {
	width: 100%;
}

.content {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.character {
	width: 25%;
	order: 0;
}

.game__content {
	width: 50%;
	order: 1;
	display: flex;
	flex-wrap: wrap;
}

.score {
	width: 50%;
	order: 0;
}

.life {
	width: 50%;
	order: 1;
}

.canvas {
	width: 100%;
	order: 2;
}

.rule {
	width: 25%;
	order: 2;
}

.cell {
	border: 3px solid red;
}