body {
    text-align: center;
    /*width: 100%;*/
    font-family: 'Pacifico', cursive;
}

header {
    width: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.character {
    width: 25%;
    order: 0;
}

.game__content {
    width: 50%;
    order: 1;
    display: flex;
    flex-wrap: wrap;
}

.score {
    width: 50%;
    order: 0;
}

.life {
    width: 50%;
    order: 1;
}

.canvas {
    width: 100%;
    order: 2;
}

.rule {
    width: 25%;
    order: 2;
    padding: 5px;
    text-align: left;
}

.char {
    height: 100px;
    margin: 0 0 3px 0;
}

.char:hover {
    cursor: pointer;
}

.char__selected {
    border: 5px double aqua;
    border-radius: 50%;
}

.cell {
    border: 3px solid red;
}

.heart {
    height: 50px;
    display: none;
}

.show {
    display: inline-block;
}

.rule p, ul {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

footer {
    width: 100%;
}

.row {
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.row p {
    margin: 0 0 1rem 4rem;
    color: #292b2c;
}

.list-inline {
    position: absolute;
    right: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-inline-item {
    margin-right: 5px;
    display: inline-block;
}

.list-inline li a img {
    margin: 5px;
    max-height: 20px;
}